@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.fancy-word {
  position: relative;
  color: white;

  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;

  letter-spacing: -5px;
  line-height: 80px;
}

.fancy-word.active::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  background: red;
  height: 105%;
  width: 105%;
  z-index: -1;
}

.slide-left-image {
  position: absolute;
  top: 0;
  left: -100px;
  width: 100%;
  height: 100%;
  -webkit-animation: slide-left 0.5s forwards;
  animation: slide-left 0.5s forwards;
}

.slide-top-image {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: slide-top 0.5s forwards;
  animation: slide-top 0.5s forwards;
}

.animate-span {
  animation: span infinite 3s;
  -webkit-animation: span infinite 3s;
}

@-webkit-keyframes span {
  0% {
    translate: -1% -1%;
  }
  50% {
    translate: 1% 1%;
  }
  75% {
    translate: 1% -1%;
  }
  100% {
    translate: -1% 1%;
  }
}

@keyframes span {
  0% {
    translate: -1% -1%;
  }
  25% {
    translate: 0% 0%;
  }
  50% {
    translate: -1% 1%;
  }
  75% {
    translate: 1% -1%;
  }
  100% {
    translate: -1% -1%;
  }
}

@-webkit-keyframes slide-top {
  100% {
    top: 0;
  }
}

@keyframes slide-top {
  100% {
    top: 0;
  }
}

@-webkit-keyframes slide-left {
  100% {
    left: 0;
  }
}

@keyframes slide-left {
  100% {
    left: 0;
  }
}

:root {
  --background: #fff;
  --foreground: #000;
  --unfocused-border-color: #eaeaea;
  --focused-border-color: #666;

  --button-disabled-color: #fafafa;
  --disabled-text-color: #999;

  --geist-border-radius: 5px;
  --geist-quarter-pad: 6px;
  --geist-half-pad: 12px;
  --geist-pad: 24px;
  --geist-font: "Inter";

  --geist-error: #e00;

  --subtitle: #666;
}

* {
  box-sizing: border-box;
}

.cinematics {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --unfocused-border-color: #333;
    --focused-border-color: #888;
    --foreground: #fff;
    --button-disabled-color: #111;
    --geist-error: red;
    --subtitle: #8d8d8d;
  }
  .cinematics {
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.15);
  }
}

body {
  background-color: var(--background);
}

input {
  border: 1px solid var(--unfocused-border-color);
  transition: border-color 0.15s ease;
  outline: none;
}

input:focus {
  border-color: var(--focused-border-color);
}
